<head>
    <title>UVGuardian</title>
    <script src="https://kit.fontawesome.com/8a5a50bb01.js" crossorigin="anonymous"></script>
</head>

<%- include('navbar.ejs') %>
<body class="contact-body">
    <div class="contact-content">
        <h1 class="contact-heading">Connect with me</h1>
        <h5>Ritika Aggarwal</h5>
        <p class="mail">samplemailxyz@abc.com</p>
        <p class="number">+123-456-7890</p>
        <i class="fa-brands fa-instagram logo" onclick="window.location.href='https://www.instagram.com/'"></i>
        <i class="fa-brands fa-github logo" onclick="window.location.href='https://github.com/r1tika-aggarwal'"></i>
        <i class="fa-brands fa-linkedin logo" onclick="window.location.href='https://www.linkedin.com/in/ritika-aggarwal-2520aa257'"></i>
    </div>
    
</body>