
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UVGuardian</title>
</head>

<body class="home-body">

    <%- include('navbar.ejs') %>
    <h1 class="upper">Before you step out, be UV savvy</h1> 
    <img class="homeimage" src="\images\CarolinaBlues.jpeg">
    <h1 class="lower">- CHECK YOUR ZONE FOR RAYS<br> AND OZONE!</h1>
    
    
</body>
</html>